
APP__SERVER_PORT="8080"
ENV=production
DATABASE__HOST=postgres
DATABASE__PORT="5432"
DATABASE__USER=pizza
DATABASE__PASSWORD=pizza123
DATABASE__NAME=pizzahub
DATABASE__SSL_MODE=disable
REDIS__HOST=redis
REDIS__PORT="6379"